<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
    <H1>Few HTML Tag Defination Page</H1>
    <p class="cssClassParagragh"><span class="bold-class">What is a CSS Class?</span><br/>A CSS class is an attribute used to define a group of HTML elements in
        order to apply unique styling and formatting to those elements with CSS.
    </p>
    <p class="HTMLHeadingParagraph"><span class="bold-class">What is a HTML Heading tag?</span><br/>An HTML heading tag is used to define the headings of a page.
        There are six levels of headings defined by HTML. These 6 heading elements are H1, H2, H3, H4, H5, and H6; with H1 being the highest level and H6 the least.
    </p>
    <p class="HTMLHeadingParagraph"><span class="bold-class">What is a HTML Heading tag?</span><br/>An HTML heading tag is used to define the headings of a page.
        There are six levels of headings defined by HTML. These 6 heading elements are H1, H2, H3, H4, H5, and H6; with H1 being the highest level and H6 the least.
    </p>
    <p class="paragraphTagParagraph"><span class="bold-class">What is a Paragraph Tag?</span><br/>The "p" tag defines a paragraph of text. It is a block-level element and always starts on a new line. Before and after each paragraph, browsers add margin automatically. You can modify the margins using the CSS margin property.
    </p>
    <p class="IDTagParagraph"><span class="bold-class">What is a ID Tag?</span><br/>The "id" attribute specifies a unique id for an HTML element. The value of the id attribute must be unique within the HTML document. The id attribute is used to point to a specific style declaration in a style sheet. It is also used by JavaScript to access and manipulate the element with the specific id.
    </p>
    <p class="spanTagParagraph"><span class="bold-class">What is a span Tag?</span><br/>The "span" HTML element is a generic inline container for phrasing content, which does not inherently represent anything. It can be used to group elements for styling purposes (using the class or id attributes), or because they share attribute values, such as lang.
    </p>

</body>
</html>
